h6 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 15px;
}
.myimg {
  width: 80px;
  height: 70px;
  margin: auto;
}
.dangertxt {
  color: red;
  text-decoration: red;
  font-weight: bold;
}
.successtxt {
  color: green;
  margin: auto;
}
.cntr {
  display: block;
  margin: auto;
  width: auto;
}
.imp {
  font-weight: 700;
}
